<script type="text/javascript">
 var socket = io();
 var uID = Math.floor((Math.random() * 1000) + 1);
 var myTurn = "";
	$(function() {
	   $(window).keypress(function(e) {
	       var key = e.which;
	       //do stuff with "key" here...
	       socket.emit('guess', {key : key, uID : uID});
	       $("#guess").hide();
	   });

	   $("#guess").hide();
	});

	socket.on('guess', function(data) {
		if(data.uID != uID)
		{
			$("#guess").show();
		}
			$("#word").html(data.result);
		});
	socket.on('found', function(data) {
		console.log('buldu'+data.result);
		});
	socket.on('notfound', function(data) {
		console.log('bulamadı'+data.result);
		});
</script>
<h3>Game ID : <%-gameID%></h3>

<span id="guess">Your turn ! Press a key</span>
<span id="word"></span>
