<script type="text/javascript">
$(document).ready(function(){
	$("input[type='button']").click(function(){
		$("form").submit();
	});
});
	
</script>
<h1>Adam Asmaca</h1>
<form action="/" method="post">
	<input type="submit" name="creategame" value="Create Game" /><br />
	<input type="submit" name="joingame" value="Join Game" />
	<input type="text" name="gameID" />
</form>