<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript" charset="utf-8">
		var socket = io.connect('http://localhost:3000');
	</script>
</head>
<body>
</body>
</html>
<%-body%>